## Day 5

In [5]:
# looping in python
# while loop

In [4]:
count= 1
while count<=5:
    print("Hello")
    count +=1

Hello
Hello
Hello
Hello
Hello

In [6]:
count = 10
while count>0:
    print("hello")
    count-=1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [7]:
num = [1,2,3,4,5,8,5,6,7,9]
i= 0
while i< len(num):
    print(num[i])
    i+=1

1
2
3
4
5
8
5
6
7
9

In [17]:
num = [1,2,3,4,5,8,5,6,7,9]
i= 0
while i< len(num):
    if (num[i]==3):
        print("i have the element at the  index i:",i)
    i+=1

i have the element at the  index i: 2

In [ ]:
# break
num = [1,2,3,4,5,8,5,6,7,9]
i= 0
while i< len(num):
    if (num[i]==3):
        print("i have the element at the  index i:",i)
        break
    else:
        print("searching the index")
    i+=1
    print("end of the loop")

In [ ]:
# date 
dates= [1992,1998,2000,2005]

i = 0
year = dates[0]
while (year!=1992):
    print(year)
    i=i+1
    year = dates[i]
print("it took  ",i ,"repeatation to get out of the loop")

In [5]:
# date 
dates= [1992,1998,2000,2005]
i = 0
year = dates[0]
while (year != 1998):
    print(year)
    i=i+1
    year = dates[i]
print("it took  ",i ,"repeatation to get out of the loop")

1992
it took   1 repeatation to get out of the loop

In [ ]:
# range
range(3)

In [3]:
dat= [1992,1998,2000,2005]
d= len(dat)
for i in range(d):
    print(dat[i])

1992
1998
2000
2005

In [8]:
da= [1992,1998,2000,2005]
de= len(da)
for i in range(de,1,2):
    print(da[i])

In [12]:
for i in range(0,6,2):
    print(i)

0
2
4

In [13]:
datt= [1992,1998,2000,2005]
for i in datt:
    print(i)

1992
1998
2000
2005

In [17]:
nameof_movie= ["syx","wzy","pqr","djg"]
for i in nameof_movie:
    print(i)

syx
wzy
pqr
djg

In [18]:
str1= "hello rorld"
for i in str1:
    print(i)

h
e
l
l
o

r
o
r
l
d

In [20]:
str1= "hello rorld"
z=list(str1)
print(z)

['h', 'e', 'l', 'l', 'o', ' ', 'r', 'o', 'r', 'l', 'd']

In [24]:
start= int(input("Enter any number"))
end= int(input("Enter any number"))
for i in range(start,end,2):
        print(i)

Enter any number 5
Enter any number 6

5

In [22]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [23]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [25]:
square = ["red," "yellow0","green","blue","green"]
for i in range(0,5):
   print("Before square ",i,"is", square[i])
    square[i]= 'white'
     print("Before square ",i,"is", square[i])

IndentationError: unexpected indent (2021421565.py, line 4)

In [27]:
# loop throug the list and print index and value using enumerate
square = ["red," "yellow0","green","blue","green"]
for i, sq in enumerate(square):
    print(i,sq)

0 red,yellow0
1 green
2 blue
3 green

In [28]:
for i in range(-5,5):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [29]:
genres= ['rock','P&B','soundtrack','R&B']
for i in range(len(genres)):
    print(genres[i])

rock
P&B
soundtrack
R&B

In [31]:
start= int(input("Enter the start terms:"))
end= int(input("Enter the start terms:"))
for i in range(start,10):
    print(f"multiplication of {i} is : ",(14*i)

0
14
28
42
56
70
84
98
112
126

In [33]:
start= int(input("Enter the start terms:"))
end= int(input("Enter the start terms:"))
for num in range(start, end):  # 15 is excluded, so it goes up to 14
    print(f"\nTable of {num}:")
    for i in range(1, 11):  # Table from 1 to 10
        print(f"{num} x {i} = {num * i}")

Enter the start terms: 3
Enter the start terms: 20

Table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Table of 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Table of 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

Table of 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Table of 13:
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

Table of 14:
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

Table of 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

Table of 16:
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

Table of 17:
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

Table of 18:
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

Table of 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190