### DAY 6

In [3]:
# FUNCTION IN PYTHON

In [6]:
def add(a):
    b= a+1;
    print(a,"if you add one:",b)
    return (b)
c=add(1)
print(c)

1 if you add one: 2
2

In [9]:
def add(a,b):
    mul = a*b
    return mul
first=int(input("enter first numner:"))
second=int(input("enter first numner:"))

m=add(first,second)
print(m)

enter first numner: 9
enter first numner: 10

90

In [10]:
def add(a,b):
    mul = a*b
    return mul
first=float(input("enter first numner:"))
second=float(input("enter first numner:"))

m=add(first,second)
print(m)

enter first numner: 5
enter first numner: 6

30.0

In [13]:
# 
def add(a,b):
    mul = a*b
    return mul
first=int(input("enter first numner:"))
second=str(input("enter first numner:"))

m=add(first,second)
print(m)

enter first numner: 5
enter first numner: cat

catcatcatcatcat

In [19]:
# local variable in python
def square(a):
    b=1
    c=a*a+b
    print(a,"if you square +1",c)
    return c
z=square(1)
print("return value is:",z)

1 if you square +1 2
return value is: 2

In [ ]:
# global

In [21]:
# define function , one with return type value none and other without 
def mj():
    print("micahael jackson")
def mj1():
    print("michael jackson")
    return None
mj()
mj1()

micahael jackson
michael jackson

In [22]:
# string concatenation
def con(a,b):
    c= a+b
    return c
a= con("Yubaraj","shrestha")
print(a)

Yubarajshrestha

In [23]:
a1=4
b1=5
c1= a1+b1+2 *a1*b1-1
if c1<0:
    c1=0
else:
    c1=5
c1

5

In [28]:
def equation(a1,b1):
    c1= a1+b1+2 *a1*b1-1
    if c1<0:
        c1=0
    else:
        c1=5
    return c1

c2= equation(0,0)
c2

0

In [29]:
# built in function
album_ratings=[10.7,44,5.9,77.0,55.9]
print(album_ratings)

[10.7, 44, 5.9, 77.0, 55.9]

In [30]:

sum(album_ratings)

193.5

In [31]:
len(album_ratings)

5

In [32]:
# inbuilt function  only list or set can be sum

sum(1,2)

TypeError: 'int' object is not iterable

In [33]:
# here executing tuple in sum built in fuicntion
a=(1,2)
c=sum(a)
c

3

In [34]:
a=[1,2]
aa=sum(a)
aa

3

In [ ]:
# using if else in fucntin
def type_of_album(artist, album, year_relased):
    print(artist, albuim, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "oldie"
x=

In [35]:
def printlist(the_list):
    for element in the_list:
        print(element)

In [38]:
printlist(["1",1,"the man","abc"])

1
1
the man
abc

In [40]:
# compare string using operator
s= "my name is harry"
def comm(x):
    if x== s:
        return True
    else:
        return False
y=comm("happy")
y

False

In [41]:
# frequency of word
def freq(string):
    word=[]
    word = string.split()  # string.lower().split()
    Dict ={}
    for key in word:
        Dict[key]= word.count(key)
    print("the frequency of words is:", Dict)
freq("Kathmandu is the Capital city of nepal")

the frequency of words is: {'Kathmandu': 1, 'is': 1, 'the': 1, 'Capital': 1, 'city': 1, 'of': 1, 'nepal': 1}

In [45]:
a="nepal is beautiful country"
b= a.split()
b

['nepal', 'is', 'beautiful', 'country']

In [51]:
# example for default paramater
def IsGoodRating(rating=4):
    if(rating<7):
        print("This albuim sucks its rating",rating)
    else:
        print("this album is good its rating is",rating)

IsGoodRating()
IsGoodRating(10)

This albuim sucks its rating 4
this album is good its rating is 10

In [50]:
def add(a,b=1):
    c= a+b
    print(c)
    return c
add(2,5)

7

7

In [54]:
# global and local variable with same name
myfavoutiteBand= "AC/DC"
def GetBandRating(bandname):
    if bandname == "Deep Purple":
        return 10.0
    else:
        return 0.0
print("AC/DC's rating is:",GetBandRating("AC/DC"))
print("Deep Purple's rating is:",GetBandRating("Deep Purple"))
print("My Favoute band's rating is:",myfavoutiteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is: 10.0
My Favoute band's rating is: AC/DC

In [53]:
def fact(n):
    if (n==1 or n==0):
        return 1
    return fact(n-1)*n
fact(5)

120